USE [master]
GO
/****** Object:  Database [QLKaraoke]    Script Date: 12/25/2021 9:05:12 AM ******/
CREATE DATABASE [QLKaraoke]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyKaraoke', FILENAME = N'D:\PTUD\QuanLyKaraoke\QLKara_data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyKaraoke_log', FILENAME = N'D:\PTUD\QuanLyKaraoke\QLKara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKaraoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKaraoke]
GO
/****** Object:  Table [dbo].[ChiTietDonDatPhong]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatPhong](
	[maDonDatPhong] [varchar](10) NOT NULL,
	[maPhong] [varchar](10) NOT NULL,
	[thoiGianDat] [time](7) NULL,
 CONSTRAINT [PK_ChiTietDonDatPhong] PRIMARY KEY CLUSTERED 
(
	[maDonDatPhong] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonDichVu]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonDichVu](
	[maHoaDon] [varchar](10) NOT NULL,
	[maDichVu] [varchar](10) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonPhong]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonPhong](
	[maHoaDon] [varchar](10) NOT NULL,
	[maPhong] [varchar](10) NOT NULL,
	[gioVao] [time](7) NULL,
	[gioRa] [time](7) NULL,
 CONSTRAINT [PK_ChiTietHoaDonPhong] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[maChucVu] [varchar](10) NOT NULL,
	[tenChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[maChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [varchar](10) NOT NULL,
	[tenDichVu] [nvarchar](50) NULL,
	[donVi] [nchar](10) NULL,
	[giaTien] [money] NULL,
	[maLoaiDV] [varchar](10) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatPhong]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatPhong](
	[maDonDatPhong] [varchar](10) NOT NULL,
	[ngayDat] [datetime] NULL,
	[maKhachHang] [varchar](10) NULL,
	[maNhanVien] [varchar](10) NULL,
 CONSTRAINT [PK_DonDatPhong] PRIMARY KEY CLUSTERED 
(
	[maDonDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[maDonVi] [varchar](10) NOT NULL,
	[tenDonVi] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[maDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [varchar](10) NOT NULL,
	[ngayLap] [date] NULL,
	[trangThai] [nvarchar](50) NULL,
	[maKhachHang] [varchar](10) NULL,
	[maNhanVien] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](10) NOT NULL,
	[tenKhachHang] [nvarchar](50) NULL,
	[diaChi] [nvarchar](255) NULL,
	[soDienThoai] [nchar](10) NULL,
	[soCMND] [nchar](12) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[maLoaiDV] [varchar](10) NOT NULL,
	[tenLoaiDV] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiDichVu] PRIMARY KEY CLUSTERED 
(
	[maLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [varchar](10) NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
	[moTa] [ntext] NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](10) NOT NULL,
	[tenNhanVien] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[ngaySinh] [date] NULL,
	[dienThoai] [nchar](10) NULL,
	[soCMND] [nchar](12) NULL,
	[maChucVu] [varchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [varchar](10) NOT NULL,
	[tenPhong] [nvarchar](50) NULL,
	[trinhTrang] [nvarchar](50) NULL,
	[giaPhong] [money] NULL,
	[maLoaiPhong] [varchar](10) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/25/2021 9:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maNhanVien] [varchar](10) NOT NULL,
	[tenTaiKhoan] [nvarchar](50) NULL,
	[matKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonDatPhong] ([maDonDatPhong], [maPhong], [thoiGianDat]) VALUES (N'DDP001    ', N'P001      ', CAST(N'06:00:00' AS Time))
INSERT [dbo].[ChiTietDonDatPhong] ([maDonDatPhong], [maPhong], [thoiGianDat]) VALUES (N'DDP002    ', N'P002      ', CAST(N'19:30:00' AS Time))
INSERT [dbo].[ChiTietDonDatPhong] ([maDonDatPhong], [maPhong], [thoiGianDat]) VALUES (N'DDP003    ', N'P003      ', CAST(N'19:00:00' AS Time))
GO
INSERT [dbo].[ChiTietHoaDonDichVu] ([maHoaDon], [maDichVu], [soLuong]) VALUES (N'HD001     ', N'DV001     ', 1)
INSERT [dbo].[ChiTietHoaDonDichVu] ([maHoaDon], [maDichVu], [soLuong]) VALUES (N'HD001     ', N'DV004     ', 2)
INSERT [dbo].[ChiTietHoaDonDichVu] ([maHoaDon], [maDichVu], [soLuong]) VALUES (N'HD001     ', N'DV006     ', 2)
GO
INSERT [dbo].[ChiTietHoaDonPhong] ([maHoaDon], [maPhong], [gioVao], [gioRa]) VALUES (N'HD001     ', N'P001      ', CAST(N'18:00:00' AS Time), CAST(N'21:42:00' AS Time))
INSERT [dbo].[ChiTietHoaDonPhong] ([maHoaDon], [maPhong], [gioVao], [gioRa]) VALUES (N'HD001     ', N'P007      ', CAST(N'20:24:00' AS Time), CAST(N'21:42:00' AS Time))
INSERT [dbo].[ChiTietHoaDonPhong] ([maHoaDon], [maPhong], [gioVao], [gioRa]) VALUES (N'HD001', N'P009      ', CAST(N'20:29:00' AS Time), CAST(N'21:42:00' AS Time))
GO
INSERT [dbo].[ChucVu] ([maChucVu], [tenChucVu]) VALUES (N'CV001     ', N'Nhân viên kế toán')
INSERT [dbo].[ChucVu] ([maChucVu], [tenChucVu]) VALUES (N'CV002     ', N'Nhân viên thu ngân')
INSERT [dbo].[ChucVu] ([maChucVu], [tenChucVu]) VALUES (N'CV003     ', N'Nhân viên phục vụ')
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donVi], [giaTien], [maLoaiDV]) VALUES (N'DV001     ', N'Bia 333', N'Lon    ', 16000.0000, N'LDV001   ')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donVi], [giaTien], [maLoaiDV]) VALUES (N'DV002     ', N'Bia Tiger ', N'Lon     ', 18000.0000, N'LDV001    ')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donVi], [giaTien], [maLoaiDV]) VALUES (N'DV003     ', N'Bia Haniken', N'Lon     ', 20000.0000, N'LDV001    ')
GO
INSERT [dbo].[DonDatPhong] ([maDonDatPhong], [ngayDat], [maKhachHang], [maNhanVien]) VALUES (N'DDP001    ', CAST(N'2021-07-11T00:00:00.000' AS DateTime), N'KH001     ', N'NV001     ')
INSERT [dbo].[DonDatPhong] ([maDonDatPhong], [ngayDat], [maKhachHang], [maNhanVien]) VALUES (N'DDP002    ', CAST(N'2021-04-11T00:00:00.000' AS DateTime), N'KH002     ', N'NV002     ')
INSERT [dbo].[DonDatPhong] ([maDonDatPhong], [ngayDat], [maKhachHang], [maNhanVien]) VALUES (N'DDP003    ', CAST(N'2021-02-11T00:00:00.000' AS DateTime), N'KH003     ', N'NV001     ')
GO
INSERT [dbo].[LoaiDichVu] ([maLoaiDV], [tenLoaiDV]) VALUES (N'LDV001    ', N'Đồ uống')
INSERT [dbo].[LoaiDichVu] ([maLoaiDV], [tenLoaiDV]) VALUES (N'LDV002', N'Thức ăn')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [trangThai], [maKhachHang], [maNhanVien]) VALUES (N'HD001     ', CAST(N'2021-01-11' AS Date), N'Đã thanh toán', N'KH001     ', N'NV001     ')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [trangThai], [maKhachHang], [maNhanVien]) VALUES (N'HD002     ', CAST(N'2021-01-11' AS Date), N'Đã thanh toán', N'KH002     ', N'NV001     ')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [trangThai], [maKhachHang], [maNhanVien]) VALUES (N'HD003     ', CAST(N'2021-02-11' AS Date), N'Đã thanh toán', N'KH003     ', N'NV002     ')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [soCMND]) VALUES (N'KH001     ', N'Lê Anh Tuấn', N'111 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'0905543566', N'656265625   ')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [soCMND]) VALUES (N'KH002     ', N'Phạm Duy An', N'117 Nguyễn Văn Bảo, Phường 7, Quận Gò Vấp, TP HCM', N'0906585847', N'657625267   ')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [soCMND]) VALUES (N'KH003     ', N'Lê Văn Trường', N'114 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, TP HCM', N'0905787867', N'867652565   ')
GO

INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoai], [moTa]) VALUES (N'LP001', N'Phòng thường', N'Phòng hát thông thường')
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoai], [moTa]) VALUES (N'LP002', N'Phòng VIP', N'Loại phòng có chất lượng và giá thành cao')
GO

INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [dienThoai], [soCMND], [maChucVu]) VALUES (N'NV001     ', N'Lê Văn Nam', N'Nam', CAST(N'1992-01-01' AS Date), N'0903234425', N'324654465 ', N'CV005    ')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [dienThoai], [soCMND], [maChucVu]) VALUES (N'NV002     ', N'Trần Văn Huy', N'Nam', CAST(N'1996-08-19' AS Date), N'0906746633', N'376358632 ', N'CV002     ')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [dienThoai], [soCMND], [maChucVu]) VALUES (N'NV003     ', N'Trần Ngọc Nghĩa', N'Nam', CAST(N'1998-05-15' AS Date), N'0367474655', N'324659663 ', N'CV003     ')
GO
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [trinhTrang], [giaPhong], [maLoaiPhong]) VALUES (N'P001      ', N'Phòng 01', N'Đang sử dụng', 150000.0000, N'LP001     ')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [trinhTrang], [giaPhong], [maLoaiPhong]) VALUES (N'P002      ', N'Phòng 02', N'Đang sử dụng', 150000.0000, N'LP001     ')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [trinhTrang], [giaPhong], [maLoaiPhong]) VALUES (N'P003      ', N'Phòng 03', N'Trống', 150000.0000, N'LP001     ')
GO
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenTaiKhoan], [matKhau]) VALUES (N'NV001', N'ad001', N'123')
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenTaiKhoan], [matKhau]) VALUES (N'NV002', N'nv002', N'123')
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenTaiKhoan], [matKhau]) VALUES (N'NV003', N'nv003', N'123')
GO

ALTER TABLE [dbo].[ChiTietDonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatPhong_DonDatPhong] FOREIGN KEY([maDonDatPhong])
REFERENCES [dbo].[DonDatPhong] ([maDonDatPhong])
GO
ALTER TABLE [dbo].[ChiTietDonDatPhong] CHECK CONSTRAINT [FK_ChiTietDonDatPhong_DonDatPhong]
GO
ALTER TABLE [dbo].[ChiTietDonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietDonDatPhong] CHECK CONSTRAINT [FK_ChiTietDonDatPhong_Phong]
GO
ALTER TABLE [dbo].[ChiTietHoaDonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietHoaDonDichVu] CHECK CONSTRAINT [FK_ChiTietHoaDon_DichVu]
GO
ALTER TABLE [dbo].[ChiTietHoaDonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonDichVu_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonDichVu] CHECK CONSTRAINT [FK_ChiTietHoaDonDichVu_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonPhong_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhong] CHECK CONSTRAINT [FK_ChiTietHoaDonPhong_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhong] CHECK CONSTRAINT [FK_ChiTietHoaDonPhong_Phong]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_LoaiDichVu] FOREIGN KEY([maLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([maLoaiDV])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_LoaiDichVu]
GO
ALTER TABLE [dbo].[DonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DonDatPhong_KhachHang1] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DonDatPhong] CHECK CONSTRAINT [FK_DonDatPhong_KhachHang1]
GO
ALTER TABLE [dbo].[DonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DonDatPhong_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[DonDatPhong] CHECK CONSTRAINT [FK_DonDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([maChucVu])
REFERENCES [dbo].[ChucVu] ([maChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
